vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Jan 2009 16:52:26 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|TJAY-PC\\TJAY
vti_modifiedby:SR|TJAY-PC\\TJAY
vti_timecreated:TR|29 Jan 2009 16:52:26 -0000
vti_cacheddtm:TX|29 Jan 2009 16:52:26 -0000
vti_filesize:IR|2918
vti_cachedlinkinfo:VX|S|shade.gif S|shadeactive.gif S|indentbg.gif S|indentbg2.gif
vti_cachedsvcrellinks:VX|FSUS|ajaxfolder/shade.gif FSUS|ajaxfolder/shadeactive.gif FSUS|ajaxfolder/indentbg.gif FSUS|ajaxfolder/indentbg2.gif
vti_backlinkinfo:VX|
