.chromestyle{
width: 99%;
font-weight:normal;
}

.chromestyle:after{ /*Add margin between menu and rest of content in Firefox*/
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

.chromestyle ul{
border:none;
width: 100%;
background-color: #124266;
font-family:verdana;
font-size:11px;
line-height:20px;
background: url(../images/bgmenu.jpg)  center center repeat-x; /*THEME CHANGE HERE*/
padding: 4px 0;
margin: 0;
text-align: left; /*set value to "left", "center", or "right"*/
}

.chromestyle ul li{
display: inline;
}

.chromestyle ul li a{
color:#CCCCCC;
padding: 6px 7px;
margin: 0;
text-decoration: none;
border-right: 1px  solid #003366;
}

.chromestyle ul li a:hover, .chromestyle ul li a.selected{ /*script dynamically adds a class of "selected" to the current active menu item*/
background-color:#124266;
background: url(../images/bgmenuover.jpg)  center center repeat-x; /*THEME CHANGE HERE*/
/*background: url(chromebg-over.gif) center center repeat-x; /*THEME CHANGE HERE*/
}

/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
position:absolute;
top: 0;
border: 1px solid #003366; /*THEME CHANGE HERE*/
border-bottom-width: 1px;
font-family:tahoma;
font-size:11px;
font-weight:normal;
line-height:18px;
z-index:100;
background-color: #124266;
width: 200px;
visibility: hidden;
filter: progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4); /*Add Shadow in IE. Remove if desired*/
}


.dropmenudiv a{
width: auto;
display: block;
text-indent: 3px;
border-bottom: 1px solid #333333; /*THEME CHANGE HERE*/
padding: 2px 0;
text-decoration: none;
font-weight: normal;
color:#CCCCCC;
}

* html .dropmenudiv a{ /*IE only hack*/
width: 100%;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
background-color: #003366;
}